body {
    margin: 0;
}

/* 块级元素 用于 框架 铁盒子 */
.block {
    display: block;
    background-color: rgba(255, 0, 0, .3);
    width: 500px;
}

/* 行内元素 用于 文字 布袋子 左右 */
.inline {
    display: inline;
    background-color: rgba(0, 255, 0, .3);
}

/* 行内块元素 用于按钮 导航 超链接 上下左右 */
.inline-block {
    display: inline-block;
}

/* none 不显示 用于js功能设计 */
.display-none {
    display: none;
}